<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Rogue Ethic</string>
	<key>CodaAuthorString</key>
	<string>Rogue Ethic</string>
	<key>CodaDescriptionString</key>
	<string>Go language syntax highlighting mode for Coda 2.x</string>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.Go</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Go</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>SEEMinimumEngineVersion</key>
	<string>3.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>Rogue Ethic
http://rogueethic.com</string>
</dict>
</plist>
